<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head  th:replace="/fragments/CommonFragment::HeadDefinitions">
</head>


 <body>
      <div class="jumbotron text-size">
      <h1>Work Order Report</h1> 
      <br>
      <p>This page shows id, name and location of selected non-working machine   </p>  
      <p>The page shows also worker(s) selected for repair project   </p>   
      </div>         
     
      <div class="container-fluid "> 
      
           <p > id number of selected machine : <span class="table-header" th:text="${projectReport.machineSelected}"></span> 
                and name of machine : <span class="table-header" th:text="${projectReport.nameOfSelectedMachine} "></span></p>
           <br><br><br>
                 
           <h5 >Workers selected for repair project</h5>        
           <br>      
           <table class="table table-striped table-header">                                 
                              <tr class="row"  data-th-each="worker:${projectReport.selectedWorkers}  " >                                  
                                   <td class="col-sm-12"    data-th-text="${worker}  "   ></td>                                             
                              </tr>                                        
           </table>  
       </div>       
       <div  th:replace="/fragments/CommonFragment::footer"></div>     
  </body>
</html>